
   

.container{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.container .box{
    text-align: center;
}
.container .box .icon img{
    font-size: 50px;
    cursor: pointer;
    width: 25%;
}
.container .box .icon h3,
.container .box .icon h4{
    position: relative;
    overflow: hidden;
    font-weight: 400;
    margin: 0;
    padding: 2px 5px;
    font-size: 24px;
 
    color: transparent;
	font-family: chiller;
}
.container .box img:hover ~ h3,
.container .box img:hover ~ h4{
    color: #000;
}
.container .box .icon h4{
    font-weight: 600;
    margin: 5px 0;
    font-style: 30px;
}
.container .box .icon h3::before,
.container .box .icon h4::before{
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: white;
    transition: 1s;
}
.container .box .icon h4::before{
    left: initial;
    right: 100%;
    background: rgb(202, 68, 68);
}
.container .box .icon:hover h3::before{
    left: -100%;
}
.container .box .icon:hover h4::before{
    left: initial;
    right: -100%;
}

    


   